<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MCA - Master of Computer Application</h1>
            <span>University of Calciut</span>
            <span><address>College of Applied Science Calicut</address><time>2013 to 2016</time></span>
        </header>
        <p>
            <em>Mini Project: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em><br />
            <em>Main Seminar: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em><br />
            <em>Major Project: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em><br />
        </p>
    </article>
    <article>
        <header>
            <h1>BCA - Bachelor of Computer Application</h1>
            <span>Amrita Vishwa Vidyapeetham</span>
            <span><address>Mysore</address><time>2010 to 2013</time></span>
        </header>
        <p>
            <em>Mini Project: Te dicit scripta nec, nec illud decore partem et.</em><br />
            <em>Major Project: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em><br />
        </p>
    </article>
</section>
