<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MCA - Master of Computer Application</h1>
            <span>University of Calciut</span>
            <span><address>College of Applied Science Calicut</address><time>2013 to 2016</time></span>
        </header>
        <p>
            <em>Mini Project: EDUGURU - It was a project done for my mini project while studying for Master of Computer Application (MCA).</em><br />
            <em>Main Seminar: Seminar on Beacons, which are Bluetooth LowEnergy (BLE) device.</em><br />
            <em>Major Project: IT Aseet Management System - It is a laravel app which helps an organisation to manage their IT related assets On The GO(OTG).</em><br />
        </p>
    </article>
    <article>
        <header>
            <h1>BCA - Bachelor of Computer Application</h1>
            <span>Amrita Vishwa Vidyapeetham</span>
            <span><address>Mysore</address><time>2010 to 2013</time></span>
        </header>
        <p>
            <em>Mini Project: Pharmacy Management System - It was a pharmacy management system done for my mini project while studying for Bachelor Of Computer Application (BCA).</em><br />
            <em>Major Project: Visitor Managemet System - It was a visitor management system done for my major project while studying for Bachelor Of Computer Application (BCA).</em><br />
        </p>
    </article>
</section>
