<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Pharmacy Management System</a></strong>
			- It was a pharmacy management system done for my mini project while studying for Bachelor Of Computer Application (BCA).
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Visitor Managemet System</a></strong>
			- It was a visitor management system done for my major project while studying for Bachelor Of Computer Application (BCA).
		</h4>
    	<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Eduguru</a></strong>
			- It was a project done for my mini project while studying for Master of Computer Application (MCA).
		</h4>
		<h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">App Showcase</a></strong>
			- It is a web app which helps Mozilla Kerala community to showcase the apps developed by community members.
		</h4>
    <h4>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">IT Asset Management System</a></strong>
			- It is a laravel app which helps an organisation to manage their IT related assets On The GO(OTG).
		</h4>

    </div>
  </div>
</div>
</section>
